.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 120px;
  padding: 20px;
  color: white;
  margin-bottom: 20px
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.main {
  background-image: url(https://www.trzcacak.rs/myfile/full/230-2301036_studio-ghibli-logo-studio-ghibli-logo-png.png), linear-gradient(#eb01a5, #d13531);
  /* background-size: cover; */
  background-repeat: no-repeat; 
  background-attachment: fixed;
  padding: 50px


}
